{% extends 'base.html' %} 

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
	<div class="container">
	  <div class="row text-center">
		<div class="col-md-12">
		  <h1 class="display-4 mb-4">About Us</h1>
		</div>
	  </div>
	</div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
	<div class="container">
	  <nav aria-label="breadcrumb">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item">
			<a href="{% url 'index' %}">
			  <i class="fas fa-home"></i> Home</a>
		  </li>
		  <li class="breadcrumb-item active"> About</li>
		</ol>
	  </nav>
	</div>
  </section>

  <section id="about" class="py-4">
	<div class="container">
	  <div class="row">
		<div class="about_container">
		  <h2 class="text-center">About kenauto</h2>
		  <hr class="main_underline">
		  
		  <!-- <hr class="about_underline"> -->
		  <div class="about_top_text">
			<a class="mt-4">Find best  categories of used cars and  new automotives  in Nairobi and kenya today.Kenauto hosts the largest  selection of first and second hand cars across kenya all in one place.The cars are of high quality irregardless of the make whether a toyota ,nissan,subaru,mazda ,Honda among other top brands.At Kenauto, we value ourselves in offering affordable  quality and carefully sourced cars,we do it with our core values and wish to satisfy customer needs.The car price on all cars for sale are highlighted in Kenauto.</a>
		</div>
		 	{% comment %} <div class="why_main_title 1">
				<a class="about_heading 2">Why buy a Car with kenauto?</a>
			</div>
			<hr class="about_underline">
			<br>
		  <div class="about_top">
		  	<!-- <div class="about_top_image">
		  		<img src="{% static 'img/about.jpg' %}" alt="">
		  	</div> -->
		  	<div class="about_top_text">
		  		<a class="mt-4">With kenauto quality is what we value, all the cars listed are all from trusted car dealers in the country. hundreds of customers reach out to us and find their dream car through us. Our agents deliver the best service </a>
		  	</div>
		</div>

		<div class="why_employee">
			<div class="why">
				<div class="why_main_title 2">
					<a class="about_heading 2">Advantages of using Kenauto</a>
				</div>
				<hr class="about_underline">
				<!-- <div> -->
					<!-- <hr class="about_underline"> -->
				<!-- </div> -->
				<br>
				<div class="why_data 1">
					<div class="why_title t1">
						<a>1. Enjoy an extensive selection of Cars</a>
					</div>
					<div class="why_text 1">
						<a>We got thousands of cars on our platform so you wont miss out</a>
					</div>
				</div>

				<div class="why_data 2">
					<div class="why_title t2">
						<a>2. Save time with the professional guidance of kenauto agents</a>
					</div>
					<div class="why_text 2">
						<a>While Kenauto guarantees a comprehensive range of cars, we do not overwhelm our clients with information. .</a>
					</div>
				</div>

				<div class="why_data 3">
					<div class="why_title 3">
						<a>3. Benefit from the experience and excellence of kenauto</a>
					</div>
					<div class="why_text 3">
						<a>We have helped lots of customers get their dream car why not also help you also</a>
					</div>
				</div>
			</div> {% endcomment %}
		<!-- 	<div class="col-md-4_employee">
			  {% if mvp_realtors %}
				{% for realtor in mvp_realtors %}
				<div class="card">
					<img class="card-img-top" src="{{ realtor.photo.url }}" alt="Seller of the month">
					<div class="card-body">
					  <h5 class="card-title">Seller Of The Month</h5>
					  <h6 class="text-secondary">{{ realtor.name }}</h6>
					  <p class="card-text">{{ realtor.description }}
					  </p>
					</div>
				  </div>
				{% endfor %}
			  {% endif %}
			</div> -->
		</div>

	  </div>
	</div>
  </section>

  <!-- Work -->
 {% comment %} <section  class="bg-dark text-white text-center py-5">
	<div class="testimony">
		<!-- <div class="testi_heading">
			<a class="testimonials">Testimonials</a>
		</div> -->
		<h2 class="text-center">Testimonials</h2>
		<!-- <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h4> -->
		<div class="testimonial_data">
			<a class="testimonial_text">"We are very grateful to Rebecca and her team for making the process of selling our home run smoothly where the unpredictability and pressure of a stressed market was handled so professionally."</a>
		</div>
		<!-- <p class="testimonial_client">- Duncan Thomas</p> -->
		<div class="testi_client">
			<a class="testimonial_client">- Duncan Thomas</a>
		</div>
		<!-- <hr> -->
		<!-- <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a> -->
	</div>
</section>  {% endcomment %}
<!--   <section id="work" class="bg-dark text-white text-center">
	<h2 class="display-4">We Work For You</h2>
	<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h4>
	<a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>
 -->
  <!-- Team -->
  {% comment %} <section id="team" class="py-5">
	<div class="container">
	  <h2 class="text-center">Our Team</h2>
	  <hr class="main_underline">
	  <div class="row text-center">
		{% if realtors %}
		  {% for realtor in realtors %}
		  	<div class="our-team-bottom">
			  	<div class="col-md-4 our-team">
			  		<i class="fas fa-award text-success mb-3"></i> Dealer</p>
					<img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3 our-team">
					<h4>{{ realtor.name }}</h4>
					<!-- <hr> -->
					<!-- <h4>{{ realtor.name }}</h4> -->
					<!-- <p class="text-success"> -->
					<!-- <i class="fas fa-award text-success mb-3"></i> Realtor</p> -->
					<!-- <hr> -->
					<p><i class="fas fa-phone"></i> {{ realtor.phone }}</p>
					<p><i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
				</div>
			</div>
		  {% endfor %}
		{% else %}
		  <div class="col-md-12">
			<p>No Dealers Available</p>
		  </div>
		{% endif %}       
	  </div>
	</div>
  </section> {% endcomment %}

{% endblock %}
